# /etc/systemd/system/seaweedfs-s3-01.service

[Unit]
Description=SeaweedFS S3 Gateway 01 (run as root)
Wants=seaweedfs-filer-01.service
After=network.target seaweedfs-filer-01.service

[Service]
Type=simple
ExecStart=/usr/local/bin/weed s3 \
  -ip.bind=192.168.60.59 \
  -port=9999 \
  -filer=192.168.60.59:9888 \
  -config=/root/seaweedfs-data/s3-config.json
Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
